@model IEnumerable<AssetManagementSysteM.Models.SoftwareLicenseAsset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareLicenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in SoftwareLicenseAsset.softwareList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareLicenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPublish)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateSoftwareLicense", new { SerialNo = item.SerialNo }) |
                @Html.ActionLink("Delete", "DeleteSoftwareLicense", new { SerialNo = item.SerialNo })
            </td>
        </tr>
}
    </tbody>
</table>
