@model IEnumerable<AssetManagementSysteM.Models.BookAsset>

@{
    ViewBag.Title="books";
    var books = ViewBag.books;
}

<h1>Available Books</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
       
            <tr>
                <td>
                    @books.SerialNo
                </td>
                <td>
                    @books.BookName
                </td>
                <td>
                    @books.AuthorName
                </td>
                <td>
                    @books.DateOfPublish
                </td>
            </tr>
        
    </tbody>
</table>
