@model IEnumerable<AssetManagementSystem.Models.SoftwareLicenseAsset>

@{
    ViewBag.Title = "softwareAsset";
    var softwareAsset = ViewBag.softwareAsset;
}

<h1>Available softwareLicense</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareLicenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>
                @softwareAsset.SerialNo
            </td>
            <td>
                @softwareAsset.SoftwareLicenseName
            </td>
            <td>
                @softwareAsset.PublisherName
            </td>
            <td>
                @softwareAsset.DateOfPublish
            </td>
        </tr>

    </tbody>
</table>
